{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'barcode_gen:home' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="ean">Products:</label>
    <div id="product-fields">
        <div class="product-field">
            <input type="text" name="sku_0" style="width: 24%;" placeholder="SKU" maxlength="8" required> 
            <input type="text" name="ean_0" style="width: 50%;" placeholder="EAN" maxlength="13" required> 
            <input type="number" name="qty_0" style="width: 24%;" placeholder="QTY" required>
        </div>
    </div>
    <br>
    <button type="button" onclick="addLabel()" style="width: 49%;">+</button>
    <button type="button" onclick="removeLabel()" style="width: 49%;">-</button>
    <br>
    <br>
    <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 

    {% if labels_code %}
    <div class="form-group">
        <label for="exampleFormControlTextarea1">skopiuj poniższy tekst</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{labels_code}}</textarea>
    </div>
    <button type="button" onclick="copyTextareaContent()" style="width: 100%;">Copy Content</button>
    {% endif %}
</form>

<script>
    function copyTextareaContent() {
        var textarea = document.getElementById("exampleFormControlTextarea1");
        textarea.select();
        document.execCommand("copy");
        alert("Content copied to clipboard!");
    }
</script>

{% endblock %}
